<!-- Guestbook -->
					<section id="contact" class="seven">
						<div class="container">

							<header>
								<h2>Feedback</h2>
							</header>

							{{!-- <p>Elementum sem parturient nulla quam placerat viverra 
							mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia 
							donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc 
							orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p> --}}
							
							<form id="guestbook">
								<div class="row 50%">
									<div class="6u"><input type="text" name="name" placeholder="Name" id="name" /></div>
									<div class="6u"><input type="text" name="username" id="username" placeholder="Username (optional)" /></div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<textarea type="text" id="feedback" name="feedback" placeholder="We are eager to receive any feedback that you might have."></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<input type="submit" id="guestbookSubmit"/>
									</div>
								</div>
							</form>

						</div>
					</section>