<section id="items" class="two">
						<div class="container">
						<div class="list-group">
  <a href="/" class="list-group-item active">
    Items Procured
  </a>
  {{#each items}}
  <a href="#" class="list-group-item">{{this.name}} ~ {{this.description}}</a>
  {{/each}}
</div>
</div>
</section>