<!-- Mini-game -->
<section id="minigame" class="four">
  <div class="container">

    <header>
      <h2>Minigame</h2>
    </header>
    
    {{#each items}}
    <h5>{{name}}</h5>
    {{/each}}

  </div>
</section>