<!-- Mini-game -->
<section id="minigame" class="four">
  <div class="container">

    <header>
      <h2>Minigame</h2>
    </header>
    
    {{#each items}}
    <h5 class="minigame-item">{{name}}</h5>
    {{/each}}

    <footer>
        <a href="#" class="button rainbow">Roll the Dice</a>
    </footer>
    
  </div>
</section>