<!-- Mini-game -->
<section id="minigame" class="four">
  <div class="container">

    <header>
      <h2>Minigame</h2>
    </header>
    
    <div class="slot-container">
        <ul class="slot">  
            <li>1</li>  
            <li>2</li>  
            <li>3</li>  
            <li>4</li>  
            <li>5</li>  
            <li>6</li>  
            <li>7</li>  
        </ul>  
    </div>

    <footer>
        <a href="#" id="playBtn" value="play" class="button rainbow">Play</a>
    </footer>
    
  </div>
</section>