<div id="header" class="skel-layers-fixed">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<span class="image avatar48"><img id="profile-pic" src="assets/images/avatar.jpg" alt="" /></span>
							<h1 id="member">Username</h1>
							<p id="credits"><span id="creditAmount">0</span> Credits</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
 							<ul>
 								<li><a href="page-scroll" id="login-logout-link" class="skel-layers-ignoreHref" data-toggle="modal" data-target="#login-modal"><span class="icon fa-sign-in">Login / Register</span></a></li>
								<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-power-off">Intro</span></a></li>
								<li><a href="#items" id="items-link" class="skel-layers-ignoreHref"><span class="icon fa-gift">Items</span></a></li>
								<li><a href="#map" id="map-link" class="skel-layers-ignoreHref"><span class="icon fa-map-marker">Map</span></a></li>
								<li><a href="#minigame" id="minigame-link" class="skel-layers-ignoreHref"><span class="icon fa-gamepad">Minigame</span></a></li>
								<li><a href="#achievements" id="achievements-link" class="skel-layers-ignoreHref"><span class="icon fa-trophy">Achievements</span></a></li>
								<li><a href="#tech" id="tech-link" class="skel-layers-ignoreHref"><span class="icon fa-bolt">Technology</span></a></li>
								<li><a href="#feedback" id="feedback-link" class="skel-layers-ignoreHref"><span class="icon fa-comment">Feedback</span></a></li>
								<li><a href="#wiki" id="wiki-link" class="skel-layers-ignoreHref"><span class="icon fa-info">Wiki</span></a></li>
								<li id="store-nav-link"><a href="#store" id="store-link" class="skel-layers-ignoreHref"><span class="icon fa-money">Store</span></a></li>
							</ul>
						</nav>
						
				</div>
				
				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="https://github.com/yoonslee/project2-game" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="https://www.linkedin.com/in/brandon-chang-aa5b9b132/" class="icon fa-linkedin"><span class="label">Brandon</span></a></li>
							<li><a href="https://www.linkedin.com/in/nathan-miller-04411710/" class="icon fa-linkedin"><span class="label">Nathan</span></a></li>
							<li><a href="https://www.linkedin.com/in/yenla/" class="icon fa-linkedin"><span class="label">Yen</span></a></li>
							<li><a href="https://www.linkedin.com/in/yoonslee/" class="icon fa-linkedin"><span class="label">Yoon</span></a></li>
						</ul>
				
				</div>
			
			</div>