<div id="header" class="skel-layers-fixed">

				<div class="top">

					<!-- Logo -->
						<div id="logo">
							<h1 id="member">Jane Doe</h1>
							<p id="email">Hyperspace Engineer</p>
						</div>

					<!-- Nav -->
						<nav id="nav">
 							<ul>
								<li><a href="#top" id="top-link" class="skel-layers-ignoreHref"><span class="icon fa-power-off">Intro</span></a></li>
								<li><a href="#items" id="items-link" class="skel-layers-ignoreHref"><span class="icon fa-gift">Items</span></a></li>
								<li><a href="#about" id="about-link" class="skel-layers-ignoreHref"><span class="icon fa-user">Status</span></a></li>
								<li><a href="page-scroll" class="skel-layers-ignoreHref" data-toggle="modal" data-target="#login-modal"><span class="icon fa-sign-in">Login</span></a>
								</li>
								<li><a href="#minigame" id="minigame-link" class="skel-layers-ignoreHref"><span class="icon fa-gamepad">Minigame</span></a></li>
								<li><a href="#achievements" id="achievements-link" class="skel-layers-ignoreHref"><span class="icon fa-trophy">Achievements</span></a></li>
								<li><a href="#tech" id="tech-link" class="skel-layers-ignoreHref"><span class="icon fa-bolt">Technology</span></a></li>
								<li><a href="#contact" id="contact-link" class="skel-layers-ignoreHref"><span class="icon fa-envelope">Contact</span></a></li>
							</ul>
						</nav>
						
				</div>
				
				<div class="bottom">

					<!-- Social Icons -->
						<ul class="icons">
							<li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
							<li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
							<li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
						</ul>
				
				</div>
			
			</div>