<body>
	{{> nav }}
    {{> login-modal }}
		<!-- Main -->
			<div id="main">
				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>
								<h2 class="alt">Header.</h2>
								<p>Ligula scelerisque justo sem accumsan diam quis<br />
								vitae natoque dictum sollicitudin elementum.</p>
							</header>
							
							
							<footer>
								<a href="#items" class="button scrolly">Magna Aliquam</a>
							</footer>

						</div>
					</section>
					
				<!-- Item Check List -->
					<section id="items" class="two">
						<div class="container">
					
							<header>
								<h2>Items Check List</h2>
							</header>

							<div class="container">
							    <br />
								<div class="row">

							        <div class="dual-list list-left col-md-5">
							            <div class="well text-right">
							                <div class="row">
							                    <div class="col-md-10">
							                        <div class="input-group">
							                            <span class="input-group-addon glyphicon glyphicon-search"></span>
							                            <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
							                        </div>
							                    </div>
							                    <div class="col-md-2">
							                        <div class="btn-groupleft">
							                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
							                        </div>
							                    </div>
							                </div>
							                <ul class="list-group">
							                    <li class="list-group-item">bootstrap-duallist <!-- <a href="https://github.com/bbilginn/bootstrap-duallist" target="_blank">github</a> --></li>
							                    <li class="list-group-item">Dapibus ac facilisis in</li>
							                    <li class="list-group-item">Morbi leo risus</li>
							                    <li class="list-group-item">Porta ac consectetur ac</li>
							                    <li class="list-group-item">Vestibulum at eros</li>
							                </ul>
							            </div>
							        </div>

							        <div class="list-arrows col-md-1 text-center">
							            <button class="btn btn-default btn-sm move-left">
							                <span class="glyphicon glyphicon-chevron-left"></span>
							            </button>

							            <button class="btn btn-default btn-sm move-right">
							                <span class="glyphicon glyphicon-chevron-right"></span>
							            </button>
							        </div>

							        <div class="dual-list list-right col-md-5">
							            <div class="well">
							                <div class="row">
							                    <div class="col-md-2">
							                        <div class="btn-groupright">
							                            <a class="btn btn-default selector" title="select all"><i class="glyphicon glyphicon-unchecked"></i></a>
							                        </div>
							                    </div>
							                    <div class="col-md-10">
							                        <div class="input-group">
							                            <input type="text" name="SearchDualList" class="form-control" placeholder="search" />
							                            <span class="input-group-addon glyphicon glyphicon-search"></span>
							                        </div>
							                    </div>
							                </div>
							                <ul class="list-group">
							                    <li class="list-group-item">Cras justo odio</li>
							                    <li class="list-group-item">Dapibus ac facilisis in</li>
							                    <li class="list-group-item">Morbi leo risus</li>
							                    <li class="list-group-item">Porta ac consectetur ac</li>
							                    <li class="list-group-item">Vestibulum at eros</li>
							                </ul>
							            </div>
							        </div>

								</div>
							</div>
						</div>
					</section>

				<!-- About Me -->
					<section id="about" class="three">
						<div class="container">

							<header>
								<h2>Player Status</h2>
							</header>

							<a href="#" class="image featured"><img src="/assets/images/pic08.jpg" alt="" /></a>
							
							<p>Tincidunt eu elit diam magnis pretium accumsan etiam id urna. Ridiculus 
							ultricies curae quis et rhoncus velit. Lobortis elementum aliquet nec vitae 
							laoreet eget cubilia quam non etiam odio tincidunt montes. Elementum sem 
							parturient nulla quam placerat viverra mauris non cum elit tempus ullamcorper 
							dolor. Libero rutrum ut lacinia donec curae mus vel quisque sociis nec 
							ornare iaculis.</p>

						</div>
					</section>

				{{> achievements }}

				<section id="tech" class="five">
					<div class="container">

						<header>
							<h2>Technology</h2>
						</header>

						<p>[ Insert description of technologies used in the game ]</p>

						<div class="row">
							<div class="4u 12u$(mobile)">
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic02.jpg" alt="" /></a>
									<header>
										<h3>Unity Game Engine</h3>
									</header>
								</article>
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic03.jpg" alt="" /></a>
									<header>
										<h3>Firebase &amp; MySQL Databases</h3>
									</header>
								</article>
							</div>
							<div class="4u 12u$(mobile)">
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic04.jpg" alt="" /></a>
									<header>
										<h3>Virtual Reality</h3>
									</header>
								</article>
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic05.jpg" alt="" /></a>
									<header>
										<h3>Node &amp; Express</h3>
									</header>
								</article>
							</div>
							<div class="4u$ 12u$(mobile)">
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic06.jpg" alt="" /></a>
									<header>
										<h3>Handlebars</h3>
									</header>
								</article>
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic07.jpg" alt="" /></a>
									<header>
										<h3>Passport</h3>
									</header>
								</article>
							</div>
						</div>

					</div>
				</section>

				<!-- Contact -->
					<section id="contact" class="six">
						<div class="container">

							<header>
								<h2>Contact</h2>
							</header>

							{{!-- <p>Elementum sem parturient nulla quam placerat viverra 
							mauris non cum elit tempus ullamcorper dolor. Libero rutrum ut lacinia 
							donec curae mus. Eleifend id porttitor ac ultricies lobortis sem nunc 
							orci ridiculus faucibus a consectetur. Porttitor curae mauris urna mi dolor.</p> --}}
							
							<form method="post" action="#">
								<div class="row 50%">
									<div class="6u"><input type="text" name="name" placeholder="Name" /></div>
									<div class="6u"><input type="text" name="email" placeholder="Email" /></div>
								</div>
								<div class="row 50%">
									<div class="12u">
										<textarea name="message" placeholder="Message"></textarea>
									</div>
								</div>
								<div class="row">
									<div class="12u">
										<input type="submit" value="Send Message" />
									</div>
								</div>
							</form>

						</div>
					</section>

			</div>

		<!-- Footer -->
			<div id="footer">
				
				<!-- Copyright -->
					<ul class="copyright">
						<li>&copy; BNYY Team. All rights reserved.</li>
					</ul>
				
			</div>