<body>
	{{> nav }}
    {{> login-modal }}
		<!-- Main -->
			<div id="main">
				<!-- Intro -->
					<section id="top" class="one dark cover">
						<div class="container">

							<header>

								<img id="madewithunity" src="assets/images/madewithunity.png" alt="Equilibrium">
								<div id="brand-logo-holder"></div>

							</header>
							
							
							<footer>
								<a href="#items" class="button scrolly">Companion Web App</a>
							</footer>

						</div>
					</section>
					
				<!-- Item Check List -->
					{{> itemslist }}

				<!-- Map -->
					<section id="map" class="three">
						<div class="container">

							<header>
								<h2 id="test">Map</h2>
							</header>
							

						{{!-- 	<a href="#" class="image featured"><img src="/assets/images/pic08.jpg" alt="" /></a> --}}
							
						</div>
					</section>

				{{> minigame }}

				{{> achievements }}

				<section id="tech" class="six">
					<div class="container">

						<header>
							<h2>Technology</h2>
						</header>

						<div class="row">
							<div class="4u 12u$(mobile)">
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic02.jpg" alt="" /></a>
									<header>
										<h3>Unity Game Engine</h3>
									</header>
								</article>
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic03.jpg" alt="" /></a>
									<header>
										<h3>Databases</h3>
									</header>
								</article>
							</div>
							<div class="4u 12u$(mobile)">
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic04.jpg" alt="" /></a>
									<header>
										<h3>Virtual Reality</h3>
									</header>
								</article>
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic05.jpg" alt="" /></a>
									<header>
										<h3>Node &amp; Express</h3>
									</header>
								</article>
							</div>
							<div class="4u$ 12u$(mobile)">
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic06.jpg" alt="" /></a>
									<header>
										<h3>View Templating</h3>
									</header>
								</article>
								<article class="item">
									<a href="#" class="image fit"><img src="assets/images/pic07.jpg" alt="" /></a>
									<header>
										<h3>User Authentication</h3>
									</header>
								</article>
							</div>
						</div>

					</div>
				</section>

				{{> guestbook }}

				{{> wiki }}

				{{> store}}

		<!-- Footer -->
			<div id="footer">
				
				<!-- Copyright -->
					<ul class="copyright">
						<li><a href="https://github.com/yoonslee/project2-game">Link to GitHub Repository</a></li>
						<li>&copy; Team BNYY. All rights reserved.</li>
					</ul>
				
			</div>